.App {
  text-align: center;
}

/* .rithme {
  width: 300px;
  height: 300px;
  background-color: #00dd00;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App{
  height: 300px;
  background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
  background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
  background: linear-gradient(#666666 0%, #00b7ea 100%);
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 15% 15% 15% 15% 15% 15% 15%;
}
.efect{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: red;
  height: 40px;
}

body {
  background-image: url(https://storage.googleapis.com/stateless-elclubdelrock-com/2017/01/baladas-heavy-metal.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.on {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color:#009900;
  background: #ffffff;
  border:#009900;
  border-radius: 50px;
}
