.efects {
  display: inline;
}
.sound1{
  width:20px;
  height: 20px;
}
.col-sm {
  width: 28px;
}

.selected {
  background-color: blue;
}

.playing {
  background-color: green;
}
.row {
  margin:auto;
  width: 700px;
}
.tempo {
  margin-left: 40px;
  margin-top: 100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
