.efects {
  display: inline;
}
.sound1{
  width:20px;
  height: 20px;
}
.col-sm {
  width: 28px;
}

.selected {
  background-color: blue;
}

.playing {
  background-color: green;
}
.row {
  margin:auto;
  width: 700px;
}
.tempo {
  margin-left: 40px;
  margin-top: 100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.play {
  margin-left: 550px;
  margin-bottom: 40px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color:#009900;
  background: #ffffff;
  border:#009900;
  border-radius: 50px;
}
.pause {
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color:#009900;
  background: #ffffff;
  border:#009900;
  border-radius: 50px;
}
